<nav class="navbar navbar-expand-sm bg-primary text-white navbar-dark">
    <ul class = "navbar-nav w-100">
        <li class = "nav-item">
            <a routerLink="users" routerLinkActive="active" class="nav-link" >Users List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-user" routerLinkActive="active" class="nav-link">Add User</a>

        </li>
        <li class="nav-item">
            <a routerLink="product-list" routerLinkActive="active" class="nav-link">Product List</a>

        </li>
        <li class="nav-item">
            <a routerLink="Add-Product" routerLinkActive="active" class="nav-link"> Add Product</a>
        </li>

        <li class="nav-item ms-auto me-2">
            <button (click)="logout()" class="btn btn-light">Logout </button>
        </li>
    </ul>
  </nav>
