<h3> View User Details</h3>
<div>
    <div>
        <label> <strong> First Name: </strong></label> {{user.firstname}}
    </div>
    <div>
        <label> <strong> Last Name: </strong></label> {{user.lastname}}
    </div>
    <div>
        <label> <strong> Email Id: </strong></label> {{user.emailid}}
    </div>
    <div>
        <label> <strong> City: </strong></label> {{user.city}}
    </div>
    <div>
        <label> <strong> phone Number: </strong></label> {{user.phonenumber}}
    </div>
</div>