<div class="d-flex justify-content-between p-2">
    <h2>Admin login Request</h2>
  
</div>


<table class="table table=striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email-Id</th>
            <th>City</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let user of user">
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.emailid}}</td>
                <td>{{user.city}}</td>
                <td>{{user.phonenumber}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button  (click) = "openPopup(user)"  class="btn btn-info me-2">
                        <div *ngIf="!user.approved; else elseBlock" >
                            Update Status
                        </div>
                        <ng-template #elseBlock>Approved</ng-template>
                        </button>
                    
                              
                </td>
            </tr>
        </tbody>
    </table>
    <div  class="modal customModal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':displayStyle}">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex">
                    <h4 class="modal-title">
                        Are You sure?
                    </h4>

                    <div (click)="closePopup()">
                        close
                    </div>
                </div>
                <div class="modal-body">
                    <p>Do you want to continue?</p>
                    
                </div>
                <div class="modal-footer">
                   
                    <button type="button" class="btn btn-secondary" 
                    (click)="Approved()">
                    <span >
                        Approve
                    </span>
                    
                    
                    </button>
                    <button type="button" class="btn btn-danger" (click)="deleteUser(selectedUser.id)">
                
                    Discard 
                    </button>
            </div>
        </div>
    </div>
</div>
    
        
    
   
