<div class="d-flex justify-content-between p-2">
    <h2>User List</h2>
    <button *ngIf="savedUser.role == 'Admin' || savedUser.role == 'SuperAdmin'" routerLink="/homepage/create-user" class="btn" data-toggle="tooltip" data-placement="top" title="Add User" routerLinkActive="active">

    

        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </button>
    
</div>


<table class="table table=striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email-Id</th>
            <th>City</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let user of user" class="data-row">
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.emailid}}</td>
                <td>{{user.city}}</td>
                <td>{{user.phonenumber}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button (click) = "updateUser(user.id)" class = "btn btn-info" id="update-btn"> Update</button>  
                    <button (click) = "deleteUser(user.id)" class = "btn btn-danger" style="margin-left: 10px" id="delete-btn"> Delete</button>
                <button (click) = "userDetails(user.id)" class = "btn btn-primary" style="margin-left: 10px" id="view-btn"> View</button>              
                </td>
            </tr>
        </tbody>
    </table>
   
